<!DOCTYPE html>
<html>
<head>
  <title>Opticsweb</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="mainpage">
<nav>

<ul>
<li><%= link_to "SPR", spr_index_path %> </li>
</ul>

</nav>
<%= yield %>
</div>

</body>
</html>
